.container {
    margin-left: 350px;
    margin-top: 100px;
    display :grid;
    row-gap: 10px;
    padding: 60px;
  }
.title{
  grid-column-end: 2;
  grid-column-start: 1;
  margin-left: 30%;
  font-size: 28px;
  color:darkslategray;

  
}
.form{
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 30px;
}

.in_type{
  grid-column: 1;
  font-size: 20px;
  font-weight: bold;
  color:darkslategray;
  
}
.in_field{
  grid-column: 2;
  border: 2px solid forestgreen; 
  outline: none;
  border-radius: 40px;
  padding: 0 0 0 20px;
  width: 20%;
}
  
.error{
    color: red;
    font-size: 15px;
    position: relative;
    display: block;
}

.success{
    color: green;
    font-size: 15px;
    position: relative;
    display: block;
}


.dropdown-container {
  width: 20%; 
  font-size: 20px;
  border: 2px solid forestgreen; 
  outline: none;
  border-radius: 40px;
  padding: 0 0 0 20px;
  width: 20%;
}

.dropdown-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.btn {
  border: none;
  width : 40%;
  margin-top: 20px;
  margin-right: 10%;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 20px;
  color: darkseagreen;
  font-weight: bold;
}

.btn:hover {
  background-color: darkseagreen;
  color: white;
}

#delete:hover {
  background-color: red;
  color: white;
}